<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
<!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/modal.css" type="text/css"/>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <header class="navbar fixed-top container-fluid bg-light justify-content-between">
      <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <i class="fa-solid fa-bars"></i>
      </button>
      <nav class="offcanvas offcanvas-start navbar-nav justify-content-start" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">🗺️ Wiki-Map</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul>
            <li class="nav-item"><strong>{USERNAME}</strong></li>
            <li class="nav-item">{MAP TITLE}</li>
            <li class="nav-item"><a onclick="">Map Settings</a></li>
            <li class="nav-item"><a onclick>Favourites</a></li>
            <li class="nav-item"><a onclick="">Find Maps</a></li>
            <li class="nav-item"><a onclick="loadProfiles()">Find Users</a></li>
            <li class="nav-item"><a onclick="createMap()">Create Map</a></li>
          </ul>
        </div>
      </nav>
  </header>
  <main id = 'root'>
    <div id="map"></div>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- Frontend JS -->
  <script type="text/javascript" src="/scripts/init_map.js"></script>
  <script type="text/javascript" src="/scripts/views_manager.js"></script>
  <script type="text/javascript" src="/scripts/components/map.js"></script>
  <script type="text/javascript" src="/scripts/components/markerModal.js"></script>
  <script type="text/javascript" src="/scripts/components/mapCreateModal.js"></script>
  <script type="text/javascript" src="/scripts/components/mapsList.js"></script>
  <script type="text/javascript" src="/scripts/components/mapCard.js"></script>
  <script type="text/javascript" src="/scripts/components/profile.js"></script>
  <script type="text/javascript" src="/scripts/components/profiles.js"></script>
  <script type="text/javascript" src="/scripts/components/favoritesButton.js"></script>
  <script type="text/javascript" src="/scripts/components/searchBar.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- Google Maps API -->
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATwF_ng7lvQoJmROvgDKspg7kM8u5Xh3k&callback=initMap&libraries=&v=weekly"
  async
  ></script>
</body>
</html>
