#markerModal, #mapCreateModal {
  width: 60vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;

  label {
    padding: 1em 0 0 0;
  }

  input, textarea {
    padding: 1em;
    height: 100%;
  }

  button {
    margin-top: 1em;
  }

  .deleteMarker {
    text-align: right;
    margin-top: -3.35em;
  }
}
