.navbar {
  ul {
    padding-left: 1rem;

    .nav-item {
      list-style-type: none;
      margin:0;
      padding:0;
      margin-bottom: 0.5em;
    }

  }
  .offcanvas {
    width: 225px;
  }
}


